



        body{
           
            font-family: sans-serif;
            padding: 20px;
            background-image: url("PHOTOS/mainbackground.jpeg");
              font-family: 'Poiret One', cursive;


            
        }

        /* NAVBAR */
.navbar{
  position: absolute;
  width: 100%;
  height: 12vh;
  
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(255, 255, 255, 0.15);
  border-bottom:0.5px solid #faebc166;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

/* right LINKS */
.nav-left{
  display: flex;
 
  margin-left:3vw ;
  
}

.nav-link{
  position: relative;
  text-decoration: none;
  color: #faebc1;
  font-size: 1.6rem;
  font-weight: 600;
  
  margin-left: 6vw;
 
}

/* underline animation */
.nav-link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #faebc1;
  transition: width 0.4s ease;
 
}

.nav-link:hover::after{
  width: 100%;
}
.nav-right{
    gap: 30px;
    
    margin-right: 5vw;
}

/* RIGHT LOGO */
.logo-text{
  color: #faebc1;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Sansation', sans-serif;
  
}
.nav-logo{
  position: relative;
  cursor: pointer;
}

/* underline effect */
.nav-logo::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #faebc1;
  transition: width 0.4s ease;
}

.nav-logo:hover::after{
  width: 100%;
}

        

        .box{
            display: flex;
            flex-direction: column;
            margin-top: 10vh;
            
        }
        .cart-item{
            width: 60vw;
            margin: 20px auto;
            background: rgba(255, 255, 255, 0.3); /* light transparent layer */
    border-radius: 20px;
    backdrop-filter: blur(10px);           /* THIS is the glass effect */
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 12px;
            display: flex;
            align-items: center;
            gap: 20px;
            
        }
        .cart-item img{
            width: 140px;
            height: 140px;
            border-radius: 10px;
            background-size: cover;
            object-fit: cover;
        }
        .info{
            flex-grow: 1;
        }
        .remove-btn{
            padding: 10px 20px;
            background: #c0392b;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }
        .remove-btn:hover{
            background: #922b21;
        }
        #totalBox{
            margin-top: 30px;
            text-align: center;
            font-size: 2rem;
            color: #2d572c;
            font-weight: bold;
        }

    #b2{
        height:25vh;
        width: 70vw;
       margin: 5vh 13vw;
        
        background: rgba(255, 255, 255, 0.3); /* light transparent layer */
    border-radius: 20px;
    backdrop-filter: blur(10px);           /* THIS is the glass effect */
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }