* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sansation', sans-serif;
 background-image: url("PHOTOS/mainbackground.jpeg");
  
}

/* Navbar */


/* Product Section */
.product-section {
  margin-top: 120px;
  padding: 50px 10%;
  display: flex;
  justify-content: center;
}

.product-container {
  display: flex;
  background-color: #F8F4ED;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
}

/* Image */
.product-image {
  flex: 1;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EDE8D0;
   object-fit: contain;   
   background-size: contain;
  padding: 40px;
}

.image-placeholder {
  width: 280px;
  height: 280px;
  background-color: #DDD6B8;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poiret One', cursive;
  font-size: 1.2em;
  color: #5B684B;
}

/* Details */
.product-details {
  flex: 1;
  padding: 40px 50px;
}

.product-details h1 {
  font-family: 'Poiret One', cursive;
  color: #4A5C38;
  font-size: 2em;
  margin-bottom: 15px;
}

.desc {
  line-height: 1.6;
  margin-bottom: 25px;
  font-size: 1.05em;
}

.info p {
  margin: 6px 0;
  font-size: 1em;
  color: #3F4A2C;
}

.add-cart {
  margin-top: 25px;
  padding: 12px 18px;
  background-color: #597956;
  color: #F7F4EA;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-cart:hover {
  background-color: #4b694a;
}


@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
    text-align: center;
  }

  .product-details {
    padding: 30px;
  }
}
