* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-image: url("PHOTOS/mainbackground.jpeg");
 font-family: 'Poiret One', cursive;
}

/* navbar */
 .navbar{
      position:fixed;
      top:0;
      width:100%;
      height:12vh;
      padding:0 40px;
      display:flex;
      justify-content:space-between;
      align-items:center;
      background:rgba(255,255,255,0.15);
      backdrop-filter:blur(12px);
      border-bottom:1px solid rgba(255,255,255,0.25);
      z-index:10;
    }

    .nav-left .logo{
      font-family: 'Sansation', sans-serif;
      font-size:2.5rem;
      font-weight:700;
      color: #faebc1;
      position:relative;
      cursor:pointer;
    }

    .logo::after{
      content:"";
      position:absolute;
      left:0;
      bottom:-6px;
      width:0%;
      height:2px;
      background:#faebc1;
      transition:0.4s;
    }

    .logo:hover::after{ width:100%; }

    .nav-right{
      display:flex;
      gap:25px;
      align-items:center;
    }

    .nav-link{
      color:#faebc1;
      font-size: 1.4rem;
      text-decoration:none;
      font-style: normal;
      position:relative;
      margin-left: 6vw;

    }

    .nav-link::after{
      content:"";
      position:absolute;
      left:0;
      bottom:-6px;
      width:0%;
      height:2px;
      background:#faebc1;
      transition:0.4s;
    }

    .nav-link:hover::after{ width:100%; }
    .search-box{
      margin:30px auto;
      width: 25vw;
      
      display:flex;
    }

    .search-box input{
      flex:1;
      padding:10px;
      border:none;
      outline:none;
      border-radius:10px 0 0 10px;
    }

    .search-box button{
      padding:10px 15px;
      border:none;
      cursor:pointer;
      background-color: #faebc1;
      border-radius:0 10px 10px 0;
    }








/* hero */

#hero{
  width: 90vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20vh;
  left: 5vw;
 background: rgba(255, 255, 255, 0.15); /* light transparent layer */
    border-radius: 1.5rem;
    backdrop-filter: blur(10px);           /* THIS is the glass effect */
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
   
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}



#overlay{
  position: absolute;
  top: 20vh;
  text-align: center;
  color: white;
  z-index: 10;
  text-align: left;
}

#img1{
  background-image:url("PHOTOS/heep.png");
  background-size: cover;
  height: 33vh;
  width: 15vw;
  position: absolute;
  top: 27vh;
  left: 6vw;
}
#img2{
  background-image:url("PHOTOS/sheep.png");
  background-size: cover;
  height: 50vh;
  width: 20vw;
  position: absolute;
  top: 10vh;
  right: 0;
}
#img3{
  background-image:url("PHOTOS/pig.png");
  transform: rotate(50deg);
  background-size: cover;
  height: 25vh;
  width: 10vw;
  position: absolute;
  top: 2vh;
 left: 1vw;
}
#img4{
  background-image:url("PHOTOS/clouds.png");

  background-size: cover;
  height: 15vh;
  width: 15vw;
  position: absolute;
  top: 0;
 right: 8vw;
}
#img5{
  background-image:url("PHOTOS/clouds.png");
  background-size: cover;
  height: 15vh;
  width: 15vw;
  position: absolute;
  top: 5vh;
 right: 0;
}
#img6{
  background-image: url("PHOTOS/fence.png");
  height: 12vh;
  width: 10vw;
  position: absolute;
  bottom: -0.5vh;
 right: 1vw;
  background-size: cover;
}
#img7{
  background-image: url("PHOTOS/fence.png");
  height: 12vh;
  width: 10vw;
  position: absolute;
  bottom: -0.5vh;
  right: 12vw;
  background-size: cover;
}



#he{
  font-size: 4em;
  font-weight: 800;
  font-family: 'Sansation', sans-serif;
  color: #faebc1;

  
}
#de{
  font-size: 1.7em;
  font-weight: 500;
  font-family: "Poiret One", sans-serif;
  margin: 1vh 0 2vh 0;
  z-index: 90;
  color: #faebc1;
}







#boxbox{
  position: absolute;
  width: 90Vw;
  height: 120vh;
  
  top: 100vh;
  z-index: -100;
  left: 5vw;
   background: rgba(255, 255, 255, 0.2); /* light transparent layer */
    border-radius: 1.5rem;
    backdrop-filter: blur(10px);           /* THIS is the glass effect */
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
   
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}
#tr{
  color: #faebc1;
  font-family: 'Sansation', sans-serif;
  font-size: 2.5em;
  margin-top: 7vh;
  margin-left: 2vw;
}

.products {
  padding: 50px 20px;
  
  position: relative;
 
 
  align-items: start;
 
  
  
}



.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
  justify-items: center;
text-align: start;
}

.product-card {
background: rgba(255, 255, 255, 0.3); /* light transparent layer */
    border-radius: 20px;
    backdrop-filter: blur(10px);           /* THIS is the glass effect */
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border-radius:16px;
      padding:15px;
      cursor:pointer;
      height: 45vh;
      width: 20vw;
      transition:transform 0.3s;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-image {
  height:25vh;
      border-radius:12px;
      background-size:cover;
      background-position:center;
      margin-bottom:10px;
      
}

.product-card h3 {
 margin:5px 0; color: #faebc1;
}

.product-card p {
  margin: 4px 0;
  font-size: 0.95rem;
  font-weight: 600;
}
